<div class="form">
<%= form_for [@review, @bowl] do |f| %>
<div class="formitem">
  <%= f.label :"price (In USD)" %>
  <%= f.text_field :price %>
</div>
<div class="formitem">
  <%= f.label :broth %>
  <%= f.text_field :broth %>
</div>
<div class="formitem">
  <%= f.label :"noodle" %>
  <%= f.text_field :noodle %>
</div>
<div class="formitem">
  <%= f.label :"protein" %>
  <%= f.text_field :protein %>
</div>
<div class="formitem">
  <%= f.label :"vegetarian? (True or False)" %>
  <%= f.text_field :is_veg %>
</div>
<div class="formbutton">
  <%= f.submit %>
</div>
<% end %>

<%= form_for [@review, @bowl], method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
</div>
