<br>
<%= link_to 'Edit', edit_bowl_path(@bowl) %> |
<%= link_to 'All bowls', bowls_path %>

<h3><%= @bowl.title %><br></h3>
<%= @bowl.created_at.strftime("%m-%d-%Y") %><br>
By <%= @bowl.user.first_name %> <br>
<% if @bowl.users.include? current_user %>
  <%= link_to "&hearts;".html_safe, remove_favorite_bowl_path(@bowl), method: :delete, class: "fav" %>
<% else %>
  <%= link_to "&hearts;".html_safe, add_favorite_bowl_path(@bowl), method: :post, class: "no-fav" %>
<% end %>

<%= image_tag @bowl.img_url %>
<br><br>
    <h4>Bowl Info:</h4>
    Price: $<%= @bowl.price %><br>
    Broth: <%= @bowl.broth %><br>
    Noodle: <%= @bowl.noodle %><br>
    Protein: <%= @bowl.protein %><br>
    Vegetarian? <%= @bowl.is_veg %><br>
  <br><br>
<%= @bowl.review %><br>

<h4>Eaten at:</h4>
<%= link_to @restaurant.name, restaurant_path(@restaurant) %><br>
<%= @restaurant.address %><br>
<%= @restaurant.city %>, <%= @restaurant.state %>,<%= @restaurant.zip %><br>
<br><br>

<h3>Comments <%= link_to "+  ", new_bowl_comment_path(@bowl) %></h3>

<% if @comments %>
  <% @comments.each do |c| %>
  <%= c.name %><br>
  <%= c.created_at.strftime("%m-%d-%Y") %><br>
  <%= c.comment %><br>
  <%= link_to "(edit)", edit_bowl_comment_path(c.bowl_id, c) %>
  <br><br>
  <% end %>
<% end %>

<br>
