<div class="form">
<%= form_for [@bowl, @comment] do |f| %>
<div class="formitem">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="formitem">
  <%= f.label :"email (will not be displayed)" %>
  <%= f.text_field :email %>
</div>
<div class="formitem">
  <%= f.label :comment %><br>
  <%= f.text_area :comment, class: "contentinput"%>
</div>
<div class="formbutton">
  <%= f.submit %>
</div>
<% end %>

<%= form_for [@bowl, @comment], method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
</div>
