<h3><%= @restaurant.name %></h3>
<div class="main-content-box">
  <p>Created: <%= @restaurant.created_at.strftime("%m-%d-%Y") %> | <%= link_to 'Edit', edit_restaurant_path(@restaurant) %></p>
  <%= image_tag @restaurant.img_url, class: "restimage" %>
  <br><br>
      <h4>Restaurant Info:</h4>
      <%= @restaurant.address %><br>
      <%= @restaurant.city %>, <%= @restaurant.state %>,<%= @restaurant.zip %><br>
      <%= @restaurant.price %>
  <br><br>
  <h4>Bowls</h4>
  <%= link_to 'Add a Bowl', new_bowl_path %>
  <ul>
    <% @restaurant.bowls.each do |b| %>
      <li><%= link_to b.title, bowl_path(b) %></li>
    <% end %>
  </ul>
</div>
