<!DOCTYPE html>
<html>
  <head>
    <title>WdiProj2RamenShaman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      ------ RAMEN SHAMAN HEADER and NAV ------
    </header>
    <nav>
      <% if !current_user %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% else %>
        <%= link_to 'Edit Profile',edit_user_registration_path %><br>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %> <%= current_user.first_name %> - <%= current_user.email %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
